body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to right, rgb(221, 195, 205), rgb(126, 78, 133));
}
fieldsetf{
   border: 3px solid rgb(126, 78, 133);
}
legend{
    border: 1px solid rgb(126, 78, 133);
    padding: 20px;
    text-align: center;
    background-color: rgb(126, 78, 133);
    border-radius: 10px;
    color: white;
}
.box{
    color: white;
    position: absolute;
    top: 65%;
    /* posicao das box */
    left: 25%;
    transform: translate(-50%, -50%);
    background-color: rgba(64, 41, 84, 0.8);
    padding: 15px;
    border-radius: 15px;
    width: 40%;
}
.inputbox{
    position: relative;
}
.inputUser{
    position: absolute;
    background: none;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    color: white;
    font-size: 12px;
    width: 100%;
}
.Label_Input{
    position: absolute;
    top: 0px;
    left: 0px;
    pointer-events: none;
    transition: .2s;
}
.inputUser:focus ~ .Label_Input,
.inputUser:valid ~ .Label_Input{
    top: -10px;
    font-size: 12px;
    color: pink;
}
#datas{
    border: none;
    padding: 10px;
    border-radius: 9px;
    outline: none;
    font-size: 15px;
}
#submit{
    background-image: linear-gradient(to right, rgb(221, 195, 205), rgb(126, 78, 133));
    width: 100%;
    border: none;
    padding: 15px;
    border-radius: 15px;
    font-size: 15px;
    color: white;
    cursor: pointer;
}
#submit:hover{
    background-image: linear-gradient(to right, rgb(218, 161, 183), rgb(113, 42, 124));
}